	/*  横向  */
	.f {
	    display: flex;
	}

	.fw {
	    display: flex;
	    flex-wrap: wrap;
	}

	.fcs-b {
	    display: flex;
	    align-items: center;
	    justify-content: space-between
	}

	.fs-b {
	    display: flex;
	    justify-content: space-between
	}

	.fcf-e {
	    display: flex;
	    align-items: center;
	    justify-content: flex-end
	}

	.fcc {
	    display: flex;
	    align-items: center;
	    justify-content: center
	}

	.rfs-b {
	    display: flex;
	    justify-content: space-between;
	    flex-direction: column
	}

	.rfcs-a {
	    display: flex;
	    align-items: center;
	    justify-content: space-around;
	    flex-direction: column
	}

	.rfs-a {
	    display: flex;
	    justify-content: space-around;
	    flex-direction: column
	}

	.rfcc {
	    display: flex;
	    align-items: center;
	    justify-content: center
	}

	/*  竖向  */
	.fc {
	    display: flex;
	    align-items: center;
	}

	/* 横线 */
	.hr {
	    border-bottom: 1px solid #eee
	}

	/* mt */
	.mt10 {
	    margin-top: 10px
	}

	.mt20 {
	    margin-top: 20px
	}

	.mt30 {
	    margin-top: 20px
	}

	.mt40 {
	    margin-top: 40px
	}

	/* mb */
	.mb10 {
	    margin-bottom: 10px
	}

	.mb20 {
	    margin-bottom: 20px
	}

	.mb30 {
	    margin-bottom: 20px
	}

	.mb40 {
	    margin-bottom: 40px
	}

	/* ml */
	.ml10 {
	    margin-left: 20px
	}

	.ml20 {
	    margin-left: 20px
	}

	.ml30 {
	    margin-left: 20px
	}

	.ml40 {
	    margin-left: 40px
	}

	/* mr */
	.mr10 {
	    margin-right: 10px
	}

	.mr20 {
	    margin-right: 20px
	}

	.mr30 {
	    margin-right: 20px
	}

	.mr40 {
	    margin-right: 40px
	}

	/* pt */
	.pt10 {
	    padding-top: 10px
	}

	.pt20 {
	    padding-top: 20px
	}

	.pt30 {
	    padding-top: 20px
	}

	.pt40 {
	    padding-top: 40px
	}

	/* pb */
	.pb10 {
	    padding-bottom: 10px
	}

	.pb20 {
	    padding-bottom: 20px
	}

	.pb30 {
	    padding-bottom: 20px
	}


	.pb40 {
	    padding-bottom: 40px
	}


	/* 全局 */
	.cursor:hover {
	    cursor: pointer
	}